.calculator {
	display: grid;
	justify-self: center;
	background: var(--gray);
	padding: 1rem;
}

.calc-topsection {
	border-bottom: 0.2rem groove var(--white);
	padding-bottom: 0.85rem;
	margin-bottom: 1.7rem;
}

span.calc-menu {
	margin-right: 0.85rem;
	display: inline-block;
	font-size: 0.85rem;
	line-height: 0.85rem;
}

.calc-screen {
	background: white;
	color: var(--black);
	font-family: monospace;
	height: 3rem;
	border: 2px inset gray;
	text-align: right;
	display: grid;
	align-content: center;
	font-size: 1.5rem;
	padding: 0.5rem;
	border-right: #e7e7e7;
	border-bottom: #e7e7e7;
	position: relative;
}

.calc-screen:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset -0.5px -0.5px 0.5px 1px rgba(255, 255, 255, 1);
}

.calc-keys-wrap {
	display: grid;
	grid-template-columns: 6rem 1fr;

	/* height = 1 x btn = 3rem, 2 x gap = 1.7rem */
	grid-template-rows: 4.65rem 1fr;
	grid-template-areas: '. cancel' 'mr main';
}

.calc-keys {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 3.75rem 3.75rem;
	grid-gap: 0.85rem;
}

.mrkeys {
	grid-area: mr;
	padding-right: 2.25rem;
	display: grid;
	grid-gap: 0.85rem;
}

.calc-cancel-btns {
	grid-area: cancel;
	padding-left: 4.7rem;
	grid-gap: 0.85rem;
	display: grid;
	grid-auto-flow: column;
	align-content: center;
}

.calc-cancel-btns button {
	width: 5.28333rem;
}

.calc-nokeys {
	display: grid;
	grid-template-columns: repeat(3, 3.75rem);
	grid-gap: 0.85rem;
}

.calc-fnkeys {
	display: grid;
	grid-gap: 0.85rem;
}

.calc-fancyKeys {
	display: grid;
	grid-gap: 0.85rem;
}

/* blank memory btn */
.mrkeys:first-child {
	position: relative;
}
.mrkeys:first-child:before {
	content: '';
	width: 3.75rem;
	height: 3rem;
	background: silver;
	position: absolute;
	border: 2px inset var(--white);
	top: -3.85rem;
	left: 0;
}

/* button colours */
.calc-nokeys button {
	color: blue;
}

.mrkeys button,
.fnkeys button {
	color: red;
}

.calc-fancyKeys button {
	color: darkblue;
}

.calc-cancel-btns button {
	color: darkred;
}
