@font-face {
	font-family: 'px_sans_nouveauxregular';
	src: url('px_sans_nouveaux.woff2') format('woff2'),
		url('px_sans_nouveaux.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	font-size: 14px;
	max-height: 100vh;
	overflow: hidden;
	--green: #007c7f;
	/* --gray: #d4d0c7; */
	--gray: silver;
	--white: #fffeee;
	--blue: #020180;
	--black: #212121;
}

html {
	box-sizing: border-box;
	font-size: 14px;
	height: 100vh;
	font-family: 'px_sans_nouveauxregular', sans-serif;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.btn {
	background: silver;
	border: none;
	color: var(--black);
	font-weight: bolder;
	font-size: 0.8rem;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
	position: relative;
	width: 6rem;
	font-family: inherit;
}

.btn:active,
.btn:focus {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.disabled {
	color: gray;
	text-shadow: 1px 1px #fff;
}
.context-menu-wrap {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background: silver;
	width: 8rem;
	height: 6rem;
	display: grid;
	align-content: center;
	font-size: 0.8rem;
	border: 0.1rem outset;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.context-menu-item {
	padding-left: 0.5rem;
}
.context-menu-item:hover {
	color: var(--white);
	background: var(--blue);
	cursor: pointer;
}
.button-95 {
	background: silver;
	border: none;
	color: var(--black);
	font-weight: bolder;
	font-size: 1.1rem;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
	position: relative;
	height: 3rem;
	width: 3.75rem;
}

.button-95:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset 1px 1px 2px 1px rgba(255, 255, 255, 0.8);
}

button:active {
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	border-style: inset;
}

::-webkit-scrollbar-button:vertical:increment {
	background: silver;
	background-image: url(../img/down.svg);
	background-position: center;
	border-left: 0.1rem solid white;
	border-top: 0.1rem solid white;
	background-size: 60%;
	background-repeat: no-repeat;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.9);
	border-right: 0.1rem solid rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-button:vertical:decrement {
	background: silver;
	background-image: url(../img/up.svg);
	background-position: center;
	border-left: 0.1rem solid white;
	border-top: 0.1rem solid white;
	background-size: contain;
	background-size: 60%;
	background-repeat: no-repeat;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.9);
	border-right: 0.1rem solid rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar {
	width: 1.5rem;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0;
	border-radius: 0;
	background: silver;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.9);
	border-right: 0.1rem solid rgba(0, 0, 0, 0.9);
	border-left: 0.1rem solid white;
	border-top: 0.1rem solid white;
}

.page-wrap {
	display: grid;
	overflow: hidden;
	grid-template-areas: 'files' 'taskbar';
}

.desktop-container {
	background: var(--green);
	grid-gap: 1rem;
	grid-area: files;
	padding: 1rem;
	display: grid;
	height: 95vh;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.taskbar-container {
	grid-area: taskbar;
	display: grid;
	height: 4rem;
	width: 100vw;
	background: var(--gray);
	grid-template-columns: 8rem 1fr 8rem;
	align-items: center;
}

.left-taskbar,
.right-taskbar {
	display: grid;
	justify-content: center;
	position: relative;
	background: none;
	border: none;
	font-family: inherit;
}
.right-taskbar:focus {
	outline: 2px dotted var(--black);
}

p.clock-p {
	width: 8rem;
	height: 3rem;
	text-align: right;
	margin: 0;
	font-weight: 400;
	border: 1px inset white;
	display: grid;
	align-content: center;
}
p.clock-p:before {
	content: '';
	background: url(../img/datetime.ico);
	background-repeat: no-repeat;
	top: 0.6rem;
	left: 1rem;
	width: 3rem;
	height: 3rem;
	position: absolute;
	background-size: 2rem;
}

.mid-taskbar {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
}

.explorer-btn {
	font-size: 0.7rem;
	border-radius: 0px;
	background: silver;
	height: 3rem;
	min-width: 9rem;
	text-align: right;
	font-weight: lighter;
	font-size: 0.8rem;
	border-left: 0.15rem solid white;
	border-top: 0.15rem solid white;
	border-bottom: 0.15rem solid var(--black);
	border-right: 0.15rem solid var(--black);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	/* use flex - grid not working on Chrome for this btn */
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	font-family: inherit;
}

.task-btn-icon {
	max-width: 2rem;
}

/*

start-menu

*/

.start-btn {
	border-radius: 0px;
	background: url(../img/Windows_logo.ico);
	background-repeat: repeat;
	background-position-x: 0.2rem;
	background-position-y: 50%;
	background-size: 33%;
	background-repeat: no-repeat;
	padding: 0.2rem;
	width: 7rem;
	height: 3rem;
	text-align: right;
	font-weight: bold;
	font-size: 1rem;
	border-left: 0.15rem solid white;
	border-top: 0.15rem solid white;
	border-bottom: 0.15rem solid var(--black);
	border-right: 0.15rem solid var(--black);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	font-family: inherit;
	position: relative;
}
.start-btn .pseudo-focus {
	content: '';
	position: absolute;
	width: 96%;
	height: 90%;
	top: 5%;
	left: 2%;
	border: none;
	pointer-events: none;
}
.start-btn:focus {
	outline: none;
}
.start-btn:focus .pseudo-focus {
	border: 0.2rem dotted var(--black);
}
.start-menu {
	position: fixed;
	bottom: 10vh;
	display: none;
	grid-auto-rows: 1fr;
	background: var(--gray);
	width: 16rem;
	font-size: 0.8rem;
	padding: 0.2rem;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.sub-menu-toggle[aria-expanded='true'] ~ ul.start-menu {
	display: grid;
}
.start-btn[aria-expanded='true'] ~ nav > ul.start-menu {
	display: grid;
}

.start-menu button:focus {
	outline: 2px dotted var(--black);
}
.start-menu .with-subitem button {
	background: none;
	border: none;
	font-size: 0.8rem;
}
.start-menu .launch-program button,
.start-menu .launchExplorer button {
	display: grid;
	grid-auto-flow: column;
	font-family: inherit;
	grid-template-columns: 3rem 3fr 1fr;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	color: var(--black);
	position: relative;
	max-height: 4rem;
	width: 100%;
	height: 100%;
	justify-items: flex-start;
}
.start-menu img {
	width: 2.5rem;
}
.start-item.dummy-item {
	filter: saturate(0);
}
.start-menu-1 {
	position: absolute;
	bottom: 4vh;
	width: 16rem;
	height: 28rem;
	padding-left: 3rem;
}

.windos-logo {
	position: absolute;
	background: gray;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	padding: 0 1rem;
	justify-content: start;
	justify-items: start;
	align-content: end;
	align-items: end;
	width: 27.5rem;
	transform-origin: center;
	transform: rotate(-90deg);
	z-index: 1;
	bottom: 12.75rem;
	left: -12.25rem;
	height: 2.5rem;
}

span.windos-text {
	font-family: sans-serif;
	font-weight: 900;
	color: var(--gray);
	font-size: 2.2rem;
}

span.ninetyfive-text {
	color: white;
	font-size: 1.56rem;
}

.shutdown {
	border-top: 0.2rem ridge white;
}

.start-menu-2 {
	position: fixed;
	bottom: 19.3rem;
	left: 15.75rem;
	height: 12rem;
	width: 16rem;
}

.start-menu-3 {
	position: fixed;
	bottom: 15.3rem;
	left: 31.5rem;
	height: 16rem;
}

.start-menu-4 {
	position: fixed;
	bottom: 27.3rem;
	left: 47.3rem;
	height: 4rem;
}

.start-menu.show {
	display: grid;
}

.start-item:not(.launch-program, .launchExplorer) {
	display: grid;
	grid-template-columns: 3rem 3fr 1fr;
	align-content: center;
	align-items: center;
	padding: 0 0.5rem;
	color: black;
	position: relative;
	max-height: 4rem;
}

.start-item.launchExplorer,
.start-item.launch-program {
	max-height: 4rem;
}
.start-item:hover,
.start-item:hover > button {
	background: var(--blue);
	color: var(--white);
	cursor: default;
}

.start-item button:hover {
	background: var(--blue);
	color: var(--white);
	cursor: pointer;
}

span.arrow {
	text-align: right;
	line-height: 2rem;
}

.desktopIcon {
	background: none;
	border: none;
	font-family: inherit;
}
.desktopIcon:focus {
	outline: none;
}
.desktopIcon:focus img {
	outline: 0.5px dotted white;
}
.desktopIcon:focus p {
	outline: 0.5px dotted white;
	background: var(--blue);
}
.desktopIcon:active {
	border: none;
	box-shadow: none;
}
.desktopIcon img {
	width: 4rem;
}

.item-p {
	text-align: left;
	color: var(--white);
	margin: 0;
	text-shadow: 1px 1px 1px #0000004d;
}

p.menu-item-p:first-letter {
	text-decoration: underline;
}

.windo {
	border: 0.2rem solid var(--gray);
	max-width: 98vw;
	min-width: 2rem;
	display: none;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
	grid-template-rows: 3rem 1fr;
}

.bar {
	background: var(--blue);
	height: 3rem;
	display: grid;
	align-items: center;
	padding: 0.2rem;
}

.windo-info {
	display: grid;
	align-items: center;
	align-content: center;
	grid-auto-flow: column;
	justify-content: start;
	grid-gap: 1rem;
}

.windo-main {
	background: var(--gray);
}

.windo-tetris {
	height: 840px;
}

.windo-title {
	color: white;
	display: inline;
	font-family: inherit;
}
img.modal-icon {
	width: 2.5rem;
}

/* is the same as wordpad.css .dialog-file-window */
.folder-file-window {
	background: white;
	display: grid;
	border: 0.2rem inset;
	overflow: scroll;
	grid-template-columns: repeat(4, 1fr);
	height: 100%;
	grid-gap: 2rem;
	padding: 3rem;
	grid-gap: 3rem;
	align-items: start;
	overflow: auto;
	resize: both;
	min-width: 25rem;
}

/* width exception for clock-calendar */
.modal-clock-p {
	max-width: 50vw;
}

.windo.show.windo-datetimeui.windo-windo-datetimeui {
	min-width: 42rem;
	min-height: 37rem;
	resize: both;
}

.show {
	display: grid;
}

.close-btn,
.mini-btn,
.maxi-btn,
.close-btn-explorer {
	border-radius: 0px;
	position: absolute;
	background: var(--gray);
	height: 2rem;
	width: 2rem;
	padding: 0;
	font-weight: bold;
	line-height: 1rem;
	justify-items: center;
	font-family: inherit;
}

.close-btn,
.close-btn-explorer {
	right: 0.4rem;
	top: 0.4rem;
}

.mini-btn {
	right: 5.2rem;
	top: 0.4rem;
}
.maxi-btn {
	right: 2.8rem;
	top: 0.4rem;
}

.maxi-square {
	width: 1.2rem;
	height: 1.2rem;
	border: 0.15rem solid var(--black);
	margin: 0.2rem;
}

.outline {
	border: 0.5px dashed rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1150px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (max-width: 700px) {
	:root {
		font-size: 12px;
	}
}

@media only screen and (max-width: 560px) {
	:root {
		font-size: 9px;
	}
}
